/* RESET CSS */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*
Base styles
*/
html{
  font-family: "Helvetica", sans-serif;
  font-size: 1.125em; /* target / context = 18px / 16px = 1.125 em */
  line-height: 1.222em; /* 1.22em instead of 120%... from 22px (rounded up)*/
  padding-left: 1.222em;
  padding-right: 1.222em;
}

h1,h2,h3,h4,h5{
  font-weight: bold;
}

p{
  padding-top: 1.618em;
}

/*ModularScale.com "golden section" 1:1.618*/
body{
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('images/galvin-library.jpg');
  height: 17.942em;
}

/* default stuff... like for normal screen sizes */
h1{
  padding-top: 4.236em;
  font-size: 2.618em;
  line-height: 1em;
  padding-left: 0.618em;
  padding-right: 0.618em;
  color: white;
}
h2{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 1.618em;
  padding-top: 0.618em;
  padding-left: 0.618em;  /* Why isn't this alighned with h1? */
  padding-right: 0.618em;
  color: white;
}
nav{
  display: flex;
}





/* if the browser window is 600px or smaller...*/
@media only screen and (max-width: 600px) {
  h1{
    padding-top: 3.8315em; /* 75% between 4.236 and 2.618em */
    font-size: 2.118em;
    line-height: 1em;
    padding-left: 0.056em;
    padding-right: 0.056em;
    color: white; /* redundant? */
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  h2,nav{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 1em;
    padding-top: 0.056em;
    padding-left: 0.056em;  /* Why isn't this alighned with h1? */
    padding-right: 0.056em;
    color: black;
  }

  h3,h4{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1em;
    padding-left: 0.056em;  /* Why isn't this alighned with h1? */
    padding-right: 0.056em;
    color: black;
  }
  h3{
    padding-top: 1.618em;
    text-align: center;
  }
  h4{
    padding-top: 1em;
    font-family: "Helvetica", sans-serif;
    font-size: 2.118em;
    line-height: 1em;
  }
  li{
    padding-top: 1em;
  }
  figure{
    padding-top: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 4.236em;
 }
}

/*
  Responsive image design
*/
img{
  display: block;
  margin-left: none;
  margin-right: none;
  max-width: 100%;
}

/*
  Layout Styles (usually ID selector)
*/


/*
  Module Styles (usually class selectors)
*/
.container{
  display: flex;
  width: 100%;
}
.container > li{
  flex: 1;
}

/*
  State Styles (media queries and javascript dependent stuff
*/
