/*IIT Colors
  Red = #CC0000
  Grey = #76777B
  Yellow = #FF9900*/

/* RESET CSS */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

a:link,a:visited{
    text-decoration: none;
}
/* stylelint-enable */

/* Begin site styles below */

/*
Base styles (also the styles for smartphones, portrait... need to implement landscape!
*/
html{
  font-family: "Helvetica", sans-serif;
  font-size: 1.125em; /* target / context = 18px / 16px = 1.125 em */
  line-height: 1.222em; /* 1.22em instead of 120%... from 22px (rounded up)*/
}
/*ModularScale.com "golden section" 1:1.618*/
b{
  display: block;
}
body{
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('images/galvin-library-50.jpg');
  height: 17.942em;
  color: #131415;
}
/*
figcaption{
  opacity: 0;
  font-size: 0;
}
*/
h1,h2,h3,h4,h5,p,nav,ul{
  padding-left: 1.222em;
  padding-right: 1.222em;
}
h1,h2,h3,h4,h5,nav{
  font-weight: bold;
}
p{
  padding-top: 0.809em; /* 1.618/2 = 0.809 */
  padding-bottom: 0.809em;
}
h1,h4{
  color: #CC0000;
  text-shadow: 2px 2px 5px black;
}
h1{
  padding-top: 3.8315em; /* 75% between 4.236 and 2.618em */
  padding-left: 0.618em;
  padding-right: 0.618em;
  font-size: 2.118em;
  line-height: 1em;
}
h2,nav{
  font-weight: 300;
  font-size: 1em;
  padding-top: 0.056em;
}
h2{
  font-style: italic;
}
nav{
  font-weight: bold;
  display: flex;
  text-align: center;
}

h3,h4{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
h3{
  font-size: 1em;
  font-style: italic;
  padding-top: 1.618em;
  padding-bottom: 1.618em;
  text-align: center;
  color: #DBDBDD;
}
h4{
  padding-top: 0.5em;   /* 1em/2 = 0.5em */
  padding-left: 0.618em;
  padding-right: 0.618em;
  font-family: "Helvetica", sans-serif;
  font-size: 2.118em;
  line-height: 1em;
}
h5{
  color: #FF9900;
  /* padding-top: 4.236em;*/
}
nav ul li a{
  color: #3C3D3E;
}
ul li a{
  color: #CC0000;
}
li{
  padding-bottom: 1em;
}
/* Resize the section figures */
figure{
  padding-top: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 4.236em;
}
/*
  Responsive image design
*/
img{
  display: block;
  margin-left: none;
  margin-right: none;
  max-width: 100%;
}

/*
  Layout Styles (usually ID selector)
*/
#tagline{
}
#who{
}
#why{
}

/*
#social-responsibility{
  background: no-repeat center/25% url("images/heart.png");
  background-position: top;
}
*/

#how{
}
#contact{
}
#footer{}

/*
  Module Styles (usually class selectors)
*/
.nav{
  display: flex;
  width: 100%;
}
.nav > li{
  flex: 1;
}
.odd-article{
  color: #f1f1f1;   /*text color, slightly grey*/
  background-image: url('images/connectwork-40.png');
  background-position: center;
  background-repeat: repeat;
  border-top: solid #4B4C4E;
  border-bottom: solid #4B4C4E;
}
.even-article{
  background-color: #d5d6d7;
}

/*
  State Styles (media queries and javascript dependent stuff
*/




/*------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 442px) {
  h2{
    padding-top: 1.5em;
  }
}
@media screen and (min-width: 535px) {
  h3{
    padding-top: 2.618em;
    padding-bottom: 2.618em;
  }
}
@media screen and (min-width: 600px) {
  h1{
    font-size:  3.375em;
    padding-top: 1.5em;
  }
  h2{
    padding-top: 1em;
    padding-left: 2.118em;  /* halfway between 1.618 and 2.618 */
  }
}
@media screen and (min-width: 704px) {
  h1{
    font-size:  3.375em;
    padding-top: 2.8125em;  /* halfway between 2.25 and 3.375 */
  }
  h3{
    padding-top: 3.375em;
    padding-bottom: 3.375em;
  }
@media screen and (min-width: 900px) {
  /* default stuff... like for normal screen sizes */
        html{
          line-height: 1.618em;
        }
        h1{
          padding-top: 2.118em;   /* half-way between 4.236 and 2.118 */
          font-size: 4.236em;
        }
        h2,nav{
          font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        }
        h2{
          font-weight: 300;
          font-size: 1.618em;
          padding-top: 0.618em;
          padding-left: 1.618em;  /* How can I align this with h1? */
          padding-right: 1.618em;
        }
        nav{
          padding-top: 0.618em;
          font-size: 1.618em;
        }
        h3,h4{
          font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
          padding-left: 0.618em;  /* Why isn't this alighned with h1? */
          padding-right: 0.618em;
        }
        h3{
          padding-top: 2.618em;   /* 1.618/2 = 0.809*/
          padding-bottom: 2.618em;
          text-align: center;
          font-size: 1.618em;
          line-height: 1em;
        }
        h4{
          padding-top: 0.5em;   /* 1em/2 = 0.5em */
          font-family: "Helvetica", sans-serif;
          font-size: 4.236em;
          line-height: 1em;
          color: #CC0000;
        }
        h5{
          font-size: 1.618em;
          line-height: 1.618em;
          padding-left: 1.618em;
        }
        p,ul{
          padding-left: 2.618em;
          padding-right: 2.618em;
        }
        /*
          Responsive image design
        */
        img{
          display: block;
          margin-left: none;
          margin-right: none;
          max-width: 100%;
        }

        /*
          Layout Styles (usually ID selector)
        */
        #tagline{}
        #who{
          background-size: 100%;
        }
        #why{}
        #how{
          background-size: 100%;
        }
        #contact{}
        #footer{}

        /*
          Module Styles (usually class selectors)
        */


        /*
          State Styles (media queries and javascript dependent stuff
        */
}
@media screen and (min-width: 1000px) {
  h3{
    padding-top: 2.618em;
  }
